{% extends 'basesite/index.html' %}

{% block title %}{{ theme.name }}::Page {{page_obj.current_page_number}}{% endblock %}

{% block content %}

    <div class="forum_theme_name">
        <h2><a href="{% url 'forum:list_of_themes' %}">Forum</a> ::
        <a href="{% url 'forum:theme' theme.id %}">{{ theme.name }}</a></h2>
    </div>

    {% for post in posts%}
        <div class="forum_post">
            <div class="forum_user_info">

                <a href="{% url 'userprofile:profile' post.user.id %}">
                    {{ post.user.user.username }}
                </a>
                <br />
                {% if post.user.avatar %}
                    <img src="/media/user_avatar/{{ post.user.id }}.jpg" />
                {% else %}
                    <img src="/media/user_avatar/default.png" />
                {% endif %}
                <p>Posts: {{ post.user.count_messages }}</p>
            </div> 

            <div class="forum_post_body">
                <script>document.write(
                            moment(
                                "{{post.created|date:"Y-m-d H:m:s"}}"
                                ).format(
                                    "DD-MMM-YYYY HH:mm:ss")
                                    );</script>
                <br />
                {{ post.post}}

                {% if forloop.last and post.user_id == user.id and page_obj.number == page_obj.paginator.num_pages%}
                    <a href="{% url 'forum:delete_post' post.id %}">delete</a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No posts are available.</p>
    {% endfor %}

    <div class="forum_send_post">
    {% if user.is_authenticated %}
        <!-- ADD_POST FORM -->
        <form class="form-horizontal" role="form" method="post"
                action="{% url 'forum:add_post' theme.id %}">
            {% csrf_token %}
            <!-- POST-->
            <div class="form-group">
                <label for="post" class="col-lg-2 control-label">Answer:</label>
                <div class="col-lg-10">
                    {{ form.post }}
                </textarea>
                </div>
            </div>

            <!-- SUBMIT_BUTTON -->
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>
            <a href="{% url 'userprofile:login' %}">Login</a> or 
            <a href="{% url 'userprofile:registration' %}">
                register
            </a>
            to add posts!
        </p>
    {% endif %}
    </div>

    {% if is_paginated %}
    <!-- pagination --!>
        {% include 'basesite/pagination.html' %}
    {% endif %}

    <form class="form-horizontal" role="form" method="get" action="{% url 'forum:theme' theme.id %}">
    <!-- PAGE_NUMBER -->
    <div class="form-group">
        </div>
    <!-- SUBMIT_BUTTON -->
    <div class="input-append">
        <div class="col-lg-1">
            <input type="text" name="page" value="" size="5" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Go</button>
    </div>
    </form>

    </div>
{% endblock %}
