{% extends 'basesite/index.html' %}

{% block title %}{{ theme.name }}::Page {{posts.number}}{% endblock %}

{% block content %}

<div class="forum_theme_name">
    <h2><a href="{% url 'forum:list_of_themes' %}">Forum</a> > <a href="{% url 'forum:theme' theme.id %}">{{ theme.name }}</a></h2>
</div>

{% for post in posts%}
<div class="forum_post">
    <div class="forum_user_info">

        <a href="{% url 'userprofile:profile' post.user.id %}">{{ post.user.user.username }}</a>
        <br />
        {% if post.user.avatar %}
            <img src="/media/user_avatar/{{ post.user.id }}.jpg" />
        {% else %}
            <img src="/media/user_avatar/default.png" />
        {% endif %}
        <p>Posts: {{ post.user.count_messages }}</p>
    </div> 

    <div class="forum_post_body">
    <script>document.write(moment("{{post.created|date:"Y-m-d H:m:s"}}").format("DD-MMM-YYYY HH:mm:ss"));</script>
        <br />
        {{ post.post}}

        {% if posts.number == posts.paginator.num_pages and forloop.last and post.user_id == user.id %}
            <a href="{% url 'forum:delete_post' post.id %}">delete</a>
        {% endif %}
    </div>
</div>
{% empty %}
    <p>No posts are available.</p>
{% endfor %}

<div class="forum_send_post">
    <div class="forum_send_post_form">

{% if user.is_authenticated %}
<form class="form-horizontal" role="form" method="post" action="{% url 'forum:add_post' %}">
{% csrf_token %}
<!-- POST-->
<div class="form-group">
    <label for="post" class="col-lg-2 control-label">Answer:</label>
    <div class="col-lg-10">
    <textarea name="post" cols="50" rows="5" class="input-xlarge"></textarea>
    </div>
</div>
<!-- SUBMIT_BUTTON -->
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
    <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>
<input type="hidden" name="theme_id" value="{{theme.id}}" />
</form>

{% else %}
<p><a href="{% url 'userprofile:login' %}">Login</a> or <a href="{% url 'userprofile:registration' %}">register</a> to add posts!</p>
{% endif %}
</div>
</div>

<!-- paginator --!>
<div class="forum_pagination">
    {% if posts.number > 1 %}
        |<a href="{% url 'forum:theme' theme.id %}1/"> 1 </a>
    {% endif %}
    {% if posts.has_previous %}

        |<a href="{% url 'forum:theme' theme.id %}{{ posts.previous_page_number}}/"> <<< </a>|
    {% endif %}

    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    {% if posts.has_next %}
        |<a href="{% url 'forum:theme' theme.id %}{{ posts.next_page_number}}/"> >>> </a>|
    {% endif %}
    {% if posts.next_page_number < posts.paginator.num_pages %}
        <a href="{% url 'forum:theme' theme.id %}{{ posts.paginator.num_pages }}/">{{ posts.paginator.num_pages }} </a>|
    {% endif %}

<form class="form-horizontal" role="form" method="get" action="{% url 'forum:theme' theme.id %}">
<!-- PAGE_NUMBER -->
<div class="form-group">
    </div>
<!-- SUBMIT_BUTTON -->
<div class="input-append">
    <div class="col-lg-1">
        <input type="text" name="page" value="" size="5" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Go</button>
</div>
</form>


</div>
{% endblock %}
