{% extends 'basesite/index.html' %}

{% block title %}Login via social networks{% endblock %}

{% block content %}

{% load staticfiles %}
Chose social network where you have an account:
<br>
<a href="{% url 'social:begin' "facebook" %}" class="fb sn-logo">
    <img src="{% static "img/social/facebook.png" %}" width="64px" alt="Facebook" />
    Facebook
</a>
<br />
<a href="{% url 'social:begin' "twitter" %}" class="twitter sn-logo">
    <img src="{% static "img/social/twitter.png" %}" width="64px" alt="Twitter" />
    Twitter
</a>
<br />
<a href="{% url 'social:begin' "google-oauth2" %}" class="google sn-logo">
    <img src="{% static "img/social/google_plus.png" %}" width="64px" alt="Google Plus" />
    G+
</a>
<br />
<a href="{% url 'social:begin' 'google-oauth2' %}">
    <img src="{% static "img/social/google.png" %}" width="64px" alt="Google" />
    Login with Google
</a>
<br />
<a href="{% url 'social:begin' 'github' %}">
    <img src="{% static "img/social/github.png" %}" width="64px" alt="Github" />
    Login with GitHub
</a>
<br />

{% endblock %}
