{% extends 'basesite/index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="block_content">
{% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <div style="width:50%">
        <form class="form-horizontal" role="form" method="post" action="{% url 'userprofile:login' %}">
            {% csrf_token %}
            {{ form.as_p }}

            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            <!-- SUBMIT_BUTTON -->
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}
