{% extends 'basesite/index.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="block_content">

    <font color="red">{{ form.errors }}</font>
    <form class="form-horizontal" role="form" method="post" action="{% url 'userprofile:registration' %}">
        {% csrf_token %}
        <!-- NAME -->
        <div class="form-group">
            <font color="red" class="col-lg-2 control-label">{{ form.username.errors }}</font>
            <br />
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                 {{ form.username }}
            </div>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                {{ form.email }}
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                {{ form.password }}
            </div>
        </div>

        <!-- SUBMIT_BUTTON -->
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>

</div>

{% endblock %}
