<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/moment-with-langs.min.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="navbar">
        <div class="navbar-inner">
        <ul class="nav">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/" class="navbar-brand"> <img src="{% static 'img/logo.gif' %}" height="35px"></a></li>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="{% url 'forum:list_of_themes' %}">Forum</a></li>
                <li><a href="{% url 'blog:list_of_posts' %}">Blog</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/media/user_avatar/default.png" height="20px" />
                        Profile<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'userprofile:profile' user.id %}">Profile</a></li>
                        <li><a href="{% url 'userprofile:show_pms' %}">Private messages</a></li>
                        <li><a href="{% url 'userprofile:logout' %}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'userprofile:login' %}">Login</a></li>
                <li><a href="{% url 'userprofile:loginsocial' %}">Login via social networks</a></li>
                <li><a href="{% url 'userprofile:registration' %}">Registration</a></li>
            {% endif %}
            </ul>
        </nav>

        </div>
        </div>

       <div class="container">
       <script>
       moment.lang('ru')
       </script>
       {% block content %}{% endblock %}
       </div>
   </body>
</html>
