{% extends 'basesite/index.html' %}

{% block title %}{{ blogpost.title }}{% endblock %}

{% block content %}
        {{comment.comment}}
    <div id="comment">
        {% if blogpostcomment.user.avatar %}
            <img src="/media/user_avatar/{{ blogpostcomment.user.id }}.jpg" height="25px" />
        {% else %}
            <img src="/media/user_avatar/default.png" height="25px" />
        {% endif %}

        <a href="{{ blogpostcomment.user.get_absolute_url }}">{{ blogpostcomment.user.user.username }}</a>
        <script>document.write(moment("{{blogpostcomment.date|date:"Y-m-d H:m:s"}}").format("DD-MMM-YYYY HH:mm:ss"));</script>
        <p>{{ blogpostcomment.comment}}</p>
    </div>

    <div id="comments">
        {% for comment in comments.all %}
            <div id="comment">
            {% if comment.user.avatar %}
                <img src="/media/user_avatar/{{ comment.user.id }}.jpg" height="25px" />
            {% else %}
                <img src="/media/user_avatar/default.png" height="25px" />
            {% endif %}

            <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.user.username }}</a>
            <script>document.write(moment("{{comment.date|date:"Y-m-d H:m:s"}}")
                    .format("DD-MMM-YYYY HH:mm:ss"));</script>
            <a href="{{comment.get_absolute_url}}">#</a>
            <p>{{ comment.comment}}</p>
            </div>
        {% endfor %}
    </div>

{% comment %}
{% if user.is_authenticated %}
    <!-- comment form -->
    <form class="form-horizontal" role="form" method="post" 
        action="{% url 'blog:add_comment' blogpost.id %}">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- submit_button -->
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    <!-- end comment form -->
{% endif %}
{% endcomment %}

{% endblock %}
