{% extends 'basesite/index.html' %}

{% block title %}{{ blogpost.title }}{% endblock %}

{% block content %}

<div id="posts">
    <h1>{{ blogpost.title }}</h1>
    {{ blogpost.body|linebreaks }}
    <p>
        Author: 
        {% if blogpost.user.avatar %}
            <img src="/media/user_avatar/{{ blogpost.user.id }}.jpg" height="25px" />
        {% else %}
            <img src="/media/user_avatar/default.png" height="25px" />
        {% endif %}
        <a href="{{ blogpost.user.get_absolute_url }}">{{ blogpost.user.user.username }}</a>
    </p>


    {% if blogpost.tag.all %}
        Tags: 
        {% for tag in blogpost.tag.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
</div>

{% if blogpost.count_comments > 0 %}
    <h2>Comments ({{post.count_comments}}):</h2>
    <div id="comments">
        {% for comment in comments.all %}
            <div id="comment">
            {% if comment.user.avatar %}
                <img src="/media/user_avatar/{{ comment.user.id }}.jpg" height="25px" />
            {% else %}
                <img src="/media/user_avatar/default.png" height="25px" />
            {% endif %}

            <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.user.username }}</a>
            <script>document.write(moment("{{comment.date|date:"Y-m-d H:m:s"}}")
                    .format("DD-MMM-YYYY HH:mm:ss"));</script>
            <p>{{ comment.comment}}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if user.is_authenticated %}
    <!-- comment form -->
    <form class="form-horizontal" role="form" method="post" 
        action="{% url 'blog:add_comment' blogpost.id %}">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- submit_button -->
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    <!-- end comment form -->
{% endif %}

{% endblock %}
