{% extends 'basesite/index.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
<h2>{{ title }}</h2>

{% if user.is_authenticated %}
<p><a href="{% url 'blog:add_post' %}">Add post</a></p>
{% endif %}

<!-- posts -->
{% for post in posts %}
<div>
    <p><a href="{{post.get_absolute_url}}">{{ post.title }}</a> | {{post.count_comments}} comments |
    <script>document.write(moment("{{post.date|date:"Y-m-d H:m:s"}}").format("DD-MMM-YYYY HH:mm:ss"));</script>
    |Author: <a href="{{ post.user.get_absolute_url }}">{{ post.user.user.username }}</a>
    </p>
</div>
{% endfor %}
<!-- end posts -->

<!-- pagination --!>
{% if is_paginated %}
    {% include "basesite/pagination.html" %}
{% endif %}
<!-- end pagination --!>


</div>
{% endblock %}
